header.page-header.section
  .section__bar    
    .nav-toggler

  .container 
    h2.section__title Paint<br>
      span your<br>
      | Pixture
    .section__bottom
      h3 Humble Beginings
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, hic! 
