section.slider
  .container
    .slider__title Pictures Worth Seeing
  .slider__list
    .slider__item
section.section
  .container
    h2.section__title It's your
      span only
      | Passion
    .section__bottom
      h2 Texture makes art
      p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis suscipit assumenda laudantium illum asperiores, eveniet nostrum, veritatis. Nostrum odit fugiat ducimus modi rem natus consequuntur, aperiam suscipit quo officia.

