header.page-header.section  
  .section__bar
    .nav-toggler
    p.section__bar-text Pain the power&nbsp; 
      span blaz robar
    a(href="/").section__btn-scroll
      i.icon-arrow-down
  a(href="/").page-header__mail  
  .section__content(style="background-image: url('img/header-bg.jpg')")
    .container   
      h2.section__title Paint<br>
        span.section__title-icon your
        | Pixture
      .section__bottom
        h3 Humble Beginings
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, dolore quibusdam eum. Ducimus dolorum et harum error natus placeat consequatur corrupti totam quam mollitia, iure vel dicta aperiam, asperiores nemo.
    .section__date
      a(href="/") Aplril 19th 2016
        i.icon.icon-arrow-right

