footer.page-footer
  .container
    .page-footer__row
      .page-footer__col.page-footer__about
        h2.page-footer__col-title About
        p.page-footer__col-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illo aspernatur, at voluptas, ipsum ex fugiat dolore quam ut consequuntur. Voluptas dicta fuga vitae voluptate iure esse quod, deserunt saepe!
      .page-footer__col.page-footer__history
        h2.page-footer__col-title History
        ul.page-footer__col-list
          li
            a(href="/") Resources
          li
            a(href="/") Downloads & Updates
          li
            a(href="/") Manuals
          li
            a(href="/") Teach Specs
          li
            a(href="/") System Status
          li
            a(href="") Accessibility
      .page-footer__col.page-footer__contact
        h2.page-footer__col-title Contact
        ul.page-footer__col-list
          li
            a(href="/") Apple Store (Education Institutions)
          li
            a(href="/") 1300-551-927
          li
            a(href="/") Apple Store (Small Business)
          li
            a(href="/") 1300-369-095
    .page-footer__copyright
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint rerum doloremque omnis minima est deleniti explicabo, ducimus optio iusto, a natus dignissimos hic dolor nesciunt consequuntur ullam. Eos, ea autem.