section.section
  .section__content
    .container
      h2.section__itle Pictures Worth Seeing
  .slider
    .slider__item
      atrcile.card
        .card__img
          img(src="img/content/img-1.jpg", alt="")
          .card__like
            i.icon.icon-heart
            span.card__like-count 100
        .card__content
          .card__descr
            h3.card__title Decayed
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nobis adipisci, at excepturi
          .card__bottom
            a.card__comment(href="/") 374 comments
            a.card__more(href="/") More
    .slider__item
      atrcile.card
       .card__img
         img(src="img/content/img-1.jpg", alt="")
         .card__like
           i.icon.icon-heart
           span.card__like-count 100
       .card__content
         .card__descr
           h3.card__title Decayed
           p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur officiis, aliquid similique repellendus doloribus enim, nesciunt. Tempore delectus aliquam fugit expedita similique nisi, nihil accusamus rem repudiandae, vitae architecto quos dolorem? Quos quo facere possimus, placeat alias at repellendus modi.
         .card__bottom
           a.card__comment(href="/") 374 comments
           a.card__more(href="/") More
    .slider__item
      atrcile.card
       .card__img
         img(src="img/content/img-1.jpg", alt="")
         .card__like
           i.icon.icon-heart
           span.card__like-count 100
       .card__content
         .card__descr
           h3.card__title Decayed
           p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nobis adipisci, at excepturi
         .card__bottom
           a.card__comment(href="/") 374 comments
           a.card__more(href="/") More
    //- .slider__item
    //-   atrcile.card
    //-    .card__img
    //-      img(src="img/content/img-1.jpg", alt="")
    //-      .card__like
    //-        i.icon.icon-heart
    //-        span.card__like-count 100
    //-    .card__content
    //-      .card__descr
    //-        h3.card__title Decayed
    //-        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur officiis, aliquid similique repellendus doloribus enim, nesciunt. Tempore delectus aliquam fugit expedita similique nisi, nihil accusamus rem repudiandae, vitae architecto quos dolorem? Quos quo facere possimus, placeat alias at repellendus modi.
    //-      .card__bottom
    //-        a.card__comment(href="/") 374 comments
    //-        a.card__more(href="/") More

  //- .slider
  //-   .slider__title 
  //- .slider__list
  //-   .slider__item
//- section.section.section-passion
//-   .container
//-     h2.section__title It's 
//-       span.section__title-icon only
//-       | Passion
//-     .section__bottom
//-       h2 Texture makes art
//-       p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis suscipit assumenda laudantium illum asperiores, eveniet nostrum, veritatis. Nostrum odit fugiat ducimus modi rem natus consequuntur, aperiam suscipit quo officia.

